
 .logos{
  text-align: center;
    position: relative;
    bottom: 50px;
}

.border{
  position: relative;
  left: 800px;
  top: 150px;
  background-color: #08D5E0;
  width: 500px;
  border: 1px solid green;
  padding: 40px;

}
.box{
  position: relative;
  right: 118px;
}

 body{
  overflow: hidden;
}

.bord {
  float: right;
  position: relative;
  right: 20%;
  bottom: 170px;
  background-color: #08D5E0;
  width: 26%;
  padding: 96px 0px 404px 7px;
  border: 1px solid #08D5E0;
  box-shadow: 0px 7px 11px rgba( 0, 0, 0, 0.17);
}

.logos{
  text-align: center;
  position: relative;
  bottom: -20px;

}

 .sign{
  position: relative;
  top: 90px;
  text-align: center;
  color: aliceblue;
  margin-left: -5px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: larger;
  

} 
 .register{
  position: relative;
  top: 240px;
  color: aliceblue;
font-family:Lato;
font-style:normal;
font-weight:600;
font-size:16px;
text-align: center;

} 

 .give{
  background-color: aliceblue;
    color: #08D5E0;
    width: 85%;
    border: none;
    box-shadow: 0px 7px 11px rgba( 0, 0, 0, 0.17);
    position: relative;
    top: 220px;
    right: 44px;
   
} 

 .management{
  position: relative;
    top: 550px;
    left: 20%;
} 

.Yassword{
   
  position: relative;
    top: 100px;
    left: 100px;
    
} 
 .Wassword{
 
  position: relative;
    top: 140px;
    left: 100px;
    
} 


.Zassword{
  position: relative;
  left: 97px;
  top: 120px;
}

.Yosswor{
  position: relative;
  left: 96px;
  top: 95px;
}

.Wossord{
  position: relative;
    left: 96px;
    top: 80px;
}

.Agree{
  position: relative;
  top: 150px;
  right: 50px;
}

