// @import '~@fullcalendar/core/main.css';
// @import '~@fullcalendar/daygrid/main.css';

.fc-left{
    position: relative;
    left: 44%;
}

.fc-prev-button {
    position: relative;
    margin-right: 1067px;
    
}

.fc-next-button{
    position: relative;
    right: 58%;
}

.fc-button-primary {
    color: #da1b1b;
        /* background-color: #2C3E50; */
    /* border-color: #2C3E50; */
    
}

.fc td {
    border-style: none;
    border-width: 0;
    padding: 0;
    vertical-align: top;
    // border-color: darkgreen;
}

.fc-unthemed td.fc-today {
    background: none;
    
}

.fc th {
    border-style: solid;
    border-width: 0px;
    padding: 0;
    vertical-align: top;
}